@font-face {
	font-family: 'Playfair Display';
	src: url('../../vendors/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../../vendors/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../../vendors/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../../vendors/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../../vendors/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../../vendors/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../../vendors/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../../vendors/fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../../vendors/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../../vendors/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../../vendors/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../../vendors/fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}