@import url('../css/fonts.css');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none
}

img {
	max-width: 100%
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	text-rendering: optimizeLegibility;
	overflow: auto;
	scroll-behavior: smooth;
	background: url('../images/easter-eggs-coloring-picjumbo-com.webp');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f0c420;
	height: 100vh;
}


/*-------------------------------------------*/
/*-------- H TAGS ---------------------------*/
/*-------------------------------------------*/

h1 {
	color: #1c8adb;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 3.1rem;
	/*31px*/
	font-weight: 700;
}

h2 {
	color: #1c8adb;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 1.7rem;
	/*17px*/
	font-weight: 700;
	margin-bottom: 2rem;
	/*2rem*/
}


/*-------------------------------------------*/
/*-------- H TAGS ---------------------------*/
/*-------------------------------------------*/


/*-------------------------------------------*/
/*-------- HORIZONTAL LINES -----------------*/
/*-------------------------------------------*/

hr {
	padding: 0;
	border: 0;
	height: 1px;
	background-image: linear-gradient(left, rgba(240, 196, 32, 0), rgba(240, 196, 32, 0.75), rgba(240, 196, 32, 0));
	background-image: -webkit-linear-gradient(left, rgba(240, 196, 32, 0), rgba(240, 196, 32, 0.75), rgba(240, 196, 32, 0));
	background-image: -moz-linear-gradient(left, rgba(240, 196, 32, 0), rgba(0, 0, 0, 0.75), rgba(240, 196, 32, 0));
	background-image: -ms-linear-gradient(left, rgba(240, 196, 32, 0), rgba(0, 0, 0, 0.75), rgba(240, 196, 32, 0));
	background-image: -o-linear-gradient(left, rgba(240, 196, 32, 0), rgba(0, 0, 0, 0.75), rgba(240, 196, 32, 0));
	color: #f0c420;
	text-align: center;
}


/*-------------------------------------------*/
/*-------- HORIZONTAL LINES -----------------*/
/*-------------------------------------------*/


/*--------------------------------------------------------*/
/*-------------------- CLASSES INVOKED BY JAVASCRIPT -----*/
/*--------------------------------------------------------*/

.success {
	background: rgb(28,138,219);
	background: linear-gradient(90deg, rgba(28,138,219,1) 0%, rgba(0,123,255,1) 35%, rgba(51,149,255,1) 100%);  
}

.error {
	background-image: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));  
}


/*--------------------------------------------------------*/
/*-------------------- CLASSES INVOKED BY JAVASCRIPT -----*/
/*--------------------------------------------------------*/

#wrapper {
	width: 100%;
	height: auto;
}

#wrapper #main-section {
	width: 100%;
	height: auto;
	padding: 6rem 2rem 2rem 2rem;
}

#main-section #main {
	max-width: 45rem;
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	padding: 2rem;
	border-radius: 8px;
	margin: 0 auto;
}

.title-image {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: -6rem;
}

.title-image img {
	display: block;
	width: 18rem;
	height: 18rem;
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	border: .8rem solid #1c8adb;
	background-color: #f0c420;
	margin: 0 auto;
}

#main p {
	font-size: 1.5rem;
	text-align: justify;
	color: #4d5763;
}

#main a:link,
#main a:visited {
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	padding: .5rem;
	border-radius: 200px;
	border: 0;
	outline: 0;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main a i {
	font-size: 2rem;
	font-weight: bold;
	margin-right: .8rem;
}

#contact-modal {
	background-image: url(../images/yummy-donuts-on-yellow-background-picjumbo-com.webp);
}

#portfolio-modal {
	background-image: url(../images/ice-pops-picjumbo-com.webp);
}

#contact-modal,
#portfolio-modal {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transform: scale(.1);
	transition: all .2s .3s;
}

#contact-modal:target,
#portfolio-modal:target {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.popup {
	background: transparent;
	padding: 6rem 2rem 2rem 2rem;
	overflow: auto;
}

.popup .close-modal:link,
.popup .close-modal:visited {
	display: inline-block;
	position: absolute;
	top: 1rem;
	right: 2rem;
	line-height: 1;
	text-decoration: none;
	color: #007bff;
	font-size: 4.5rem;
	font-weight: 900;
	transition: all .2s ease;
}

.popup .close-modal:hover,
.popup .close-modal:active {
	color: #3395FF;
}

#contact {
	width: 100%;
	max-width: 45rem;
	height: auto;
	background-color: rgba(255, 255, 255, 0.97);
	padding: 2rem;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#contact-form {
	display: block;
	margin-top: 2rem;
}

#contact-form .form-elements {
	border: 1px solid #999;
	margin: 1rem 0;
	border-radius: 2rem;
}

.form-elements input[type=text],
.form-elements input[type=email],
.form-elements textarea {
	width: 100%;
	border: 0;
	background: 0;
	outline: 0;
	cursor: pointer;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 2rem;
	outline: 0;
}

#contact-form button {
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	padding: .5rem;
	border-radius: 200px;
	border: 0;
	outline: 0;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact-form button i {
	font-size: 2rem;
	font-weight: bold;
	margin-right: .8rem;
}

#contact #memo-modal {
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	opacity: 0;
	display: none;
	-webkit-animation: status 60s ease-in-out forwards;
	animation: status 60s ease-in-out forwards;
}

#memo-modal #memo {
	width: 80%;
	height: 49.44375772558714%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border-radius: 3rem;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	display: table;
	clip-path: polygon(92% 25%, 87% 25%, 55% 0%, 65% 25%, 0% 25%, 0% 49%, 0% 81%, 0% 100%, 42% 100%, 61% 100%, 100% 100%, 100% 77%, 100% 46%, 100% 25%);
}

/* #memo::before {
	content: '';
	display: inline-block;
	width: 12%;
	height: 15%;
	background: inherit;
	position: absolute;
	top: -15%;
	right: calc(18% - 6%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */

#memo #memo-text {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	word-wrap: break-word;
}

#portfolio {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center
}

#portfolio #photo-and-caption {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center
}

#photo-and-caption a {
	display: block
}

#photo-and-caption img {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	border: .3rem solid #1c8adb;
	background-color: #f0c420;
	margin: 0 auto .85rem auto;
	display: block
}

#photo-and-caption h1 {
	color: #3395FF;
	margin: 0 auto .85rem auto
}

#portfolio #link-btns {
	width: 100%;
	max-width: 68rem;
	height: auto;
	display: flex;
	flex-direction: column;
}

#link-btns .link-btn {
	width: 100%;
	height: 5.6rem;
	padding: 1rem 1.5rem;
	background-color: #3395FF;
	font-size: 1.3rem;
	text-decoration: none;
	color: #fff;
	text-align: center;
	border-radius: 1000px;
	margin-top: 1.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link-btn .link-btn-icon {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-btn p {
	margin: 0 .5rem;
}

.link-btn-icon img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%
}

.link-btn .copy-url {
	width: 3.8rem;
	height: 3.8rem;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-btn .copy-url svg {
	width: 2rem;
	height: 2rem;
	fill: #3395FF;
}

.link-btn:hover {
	transform: scale(1.02);
	transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) .2s
}


