*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	text-rendering: optimizeLegibility;
	overflow: auto;
	scroll-behavior: smooth;
	background: url('../images/easter-eggs-coloring-picjumbo-com.webp');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f0c420;
    height: 100vh;
}


/*-------------------------------------------*/
/*-------- H TAGS ---------------------------*/
/*-------------------------------------------*/

h1 {
	color: #1c8adb;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 3.1rem; /*31px*/
	font-weight: 700;
}

h2 {
	color: #1c8adb;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 1.7rem; /*17px*/
	font-weight: 700;
	margin-bottom: 2rem; /*2rem*/
}

/*-------------------------------------------*/
/*-------- H TAGS ---------------------------*/
/*-------------------------------------------*/


/*-------------------------------------------*/
/*-------- HORIZONTAL LINES -----------------*/
/*-------------------------------------------*/

hr {
	padding: 0;
	border: 0;
	height: 1px; /*1px*/
	background-image: linear-gradient(left, rgba(240, 196, 32, 0), rgba(240, 196, 32, 0.75), rgba(240, 196, 32, 0));
	background-image: -webkit-linear-gradient(left, rgba(240, 196, 32, 0), rgba(240, 196, 32, 0.75), rgba(240, 196, 32, 0));
	background-image: -moz-linear-gradient(left, rgba(240, 196, 32, 0), rgba(0, 0, 0, 0.75), rgba(240, 196, 32, 0));
	background-image: -ms-linear-gradient(left, rgba(240, 196, 32, 0), rgba(0, 0, 0, 0.75), rgba(240, 196, 32, 0));
	background-image: -o-linear-gradient(left, rgba(240, 196, 32, 0), rgba(0, 0, 0, 0.75), rgba(240, 196, 32, 0));
	color: #f0c420;
	text-align: center;
}

/*-------------------------------------------*/
/*-------- HORIZONTAL LINES -----------------*/
/*-------------------------------------------*/

#wrapper {
	width: 100%;
	height: auto;
}

#wrapper #main-section {
	width: 100%;
	height: auto;
	padding: 6rem 2rem 2rem 2rem;
}

#main-section #main {
	max-width: 45rem;
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	padding: 2rem;
	border-radius: 8px;
	margin: 0 auto;
}

.title-image {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: -6rem;
}

.title-image img {
	display: block;
	width: 18rem;
	height: 18rem;
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	border: .8rem solid #1c8adb;
	background-color: #f0c420;
	margin: 0 auto;
}

#main p {
	font-size: 1.5rem;
	text-align: justify;
	color: #4d5763;
}

#main a:link,
#main a:visited {
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	padding: .5rem;
	border-radius: 200px;
	border: 0;
	outline: 0;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main a i {
	font-size: 2rem;
	font-weight: bold;
	margin-right: .8rem;
}

#contact-modal {
	background-image: url(../images/yummy-donuts-on-yellow-background-picjumbo-com.webp);
}

#portfolio-modal {
	background-image: url(../images/ice-pops-picjumbo-com.webp);
}

#contact-modal,
#portfolio-modal {
	width: 100%;
	height: 100vh;
	background-size: cover;
	/* background-color: rgba(0, 0, 0, 0.8); */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transform: scale(.1);
	transition: all .2s .3s;
}

#contact-modal:target,
#portfolio-modal:target {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.popup {
	background: transparent;
	padding: 6rem 2rem 2rem 2rem;
	overflow: auto;
}

.popup .close-modal:link,
.popup .close-modal:visited {
	display: inline-block;
	position: absolute;
	top: 1rem;
	right: 2rem;
	line-height: 1;
	text-decoration: none;
	color: #007bff;
	font-size: 2.5rem;
	font-weight: 700;
}

.popup .close-modal:hover,
.popup .close-modal:active {
	color: #28b485;
}

#contact {
	width: 100%;
	max-width: 45rem;
	height: auto;
	background-color: rgba(255, 255, 255, 0.97);
	padding: 2rem;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
}

#contact-form {
	display: block;
	margin-top: 2rem;
}

#contact-form .form-elements {
	border: 1px solid #999;
	margin: 1rem 0;
	border-radius: 2rem;
}

.form-elements input[type=text],
.form-elements input[type=email],
.form-elements textarea {
	width: 100%;
	border: 0;
	background: 0;
	outline: 0;
	cursor: pointer;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 2rem;
	outline: 0;
}

#contact-form button {
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	padding: .5rem;
	border-radius: 200px;
	border: 0;
	outline: 0;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact-form button i {
	font-size: 2rem;
	font-weight: bold;
	margin-right: .8rem;
}

#portfolios {
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.97);
	padding: 2rem 1.5rem 1.5rem 1.5rem;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
}

#portfolios #ro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item {
	padding: 2rem;
	flex: 0 0 33.33%;
	transition: 1s all ease;
}

.item img {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.item:hover {
	transform: scale(1.1);
}

#portfolio a {
	display: block;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

#portfolio a:hover {
	transform: scale(1.1);
	transition: 1s;
}